.carousel_vim {
  // padding: 0 0 2.5rem 0 !important;
  // display: flex;
  // height: 30rem;
  // background-color: #000000 !important;
  justify-content: center;
}

.content {
  align-items: center;
  // height: 30rem;

  li {
    border-radius: 0.5rem;
  }
}
