.completed {
    text-align: center;
    margin: 1rem;
    padding: 2rem;
    height: 50vh;
    font-size: 2rem;
    color: #333;
    border: solid 1px #333;

    border-radius: 0.5rem;
    -webkit-box-shadow: 0px 14px 10px -3px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 14px 10px -3px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 14px 10px -3px rgba(0, 0, 0, 0.22);
}