// .LoginFormClient{
//     width: 100% !important;
//     padding: 10px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     //background-color: rgb(32, 33, 43);
//     background-color: rgb(255, 255, 255);   
//     height: 100vh;  
    

    .loginContent{  
      margin: 1rem 1.5rem;
      .input{
        margin-top: 1.5rem;
      }
      button{
        margin-top: 1.5rem;
      }     
      
    
   
      
    }


// .closed{
//   background-color: #FAF6F3;
//   padding: 8px 25px;
//   color: rgb(216, 3, 3);
//   text-align: end;

// }