.container{
  padding-top: 12rem;
    h1{
        text-align: center;
        padding-bottom: 30px;
    }
    h5{
        padding-bottom: 10px;
    }
    div{
        margin: 30px;
    }

    .title{

    }
    .subtitle{

    }

}