


.loginContent{  
    margin: 1rem 1.5rem;
    .input{
      margin-top: 1.5rem;
    }
    button{
      margin-top: 1.5rem;
    }     
    label{
      display: block;
      color: grey;
    }
    
  
 
    
  }