$primary: black;
$primary-hover: red;

$secundary: blue;
$secundary-hover: yellow;

$text-primary: rgb(136, 8, 8);
$text-secundary: grey;

$backgroud-primary: rgb(241, 241, 241);
$backgroud-secundary: grey;
$backgroud-tertiary: red;

$backgroud-ligth: #100f0f;

$success: green;
$danger: red;

$text-title-primary: white;
$text-sub-title-primary: rgb(184, 196, 20);
$text-primary-parrafo: black;
$text-sub: grey;
